 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

  body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #0b4221, #054e30);
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    caret-color: transparent;
    
  }